
.about-page {
    min-height: 80vh;
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: start; 
        margin-top: 3rem;
        
        .open {
            background-color: #FFC331 !important;
        }

        h1 {
            font-size: 5rem;
            font-weight: 700;
            text-align: start;
            margin-bottom: 2rem;
        }


        .accordion {
            margin-top: 3rem;
            min-width: 100%;
            max-width: auto;
            h4 {
                font-size: 2rem;
                font-weight: 300;
                margin-bottom: 1rem;
                letter-spacing: 0.05rem;
                
        
                .shake {
                    display: inline-block;
                    margin: 0 0.5rem;
                    animation: shake; 
                    animation-duration: 2s; 
                    animation-iteration-count: infinite;
                   
                }

                @keyframes shake {
                    0%, 100% {
                      transform: translateX(0);
                    }
                    25%, 75% {
                      transform: translateX(-5px);
                    }
                    50% {
                      transform: translateX(5px);
                    }
                  }
                
                
            }
        }
    }
    
    .about-me {
        .accordion {
            --bs-accordion-btn-color: rgb(255, 255, 255);
            --bs-accordion-btn-bg: #FFC331;
            --bs-accordion-active-color: $primary-color;
            --bs-accordion-active-bg: #FFC331;
        }
    }
}
