.container {



    .line-break{
        margin: 40px 20%
    }
    margin-top: 20px; // Adjust the value as needed
    min-height: 80vh;
    h1 {
        font-size: 5rem; 
        font-weight: 700;
        text-align: start;
        margin-bottom: 2rem;
        
    }
    img{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }   

    .card{
        margin: 10px; // Adjust the value as needed
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        .card-text{
            margin-top: 10px;
            font-size: 12px;
            font-weight: 400;
            transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;

           &:hover{
                position: relative;
                transform: scale(1.20);
                background-color: rgb(255, 255, 255);
                opacity: 1;
                border-radius: 5px;
                box-shadow: 0 0 15px rgba(0,0,0,0.5);
                border: solid 1px #16130c;
                z-index: 1; 
                cursor: zoom-in;
            }
        }
        .button-link{
            margin-right: 10px;
            width: 40%;
            background-color: #FFC331;
            
            svg{
                font-size: 20px;
            }
            &:hover{
                background-color: #FFA500;;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.575);
                
                cursor: pointer;
                
            }
            &:active {
                background-color: #ffedcd; // Change the color as needed
            }
            
        }
        .card:hover{
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
            // transform: scale(1.05);
            cursor: pointer;
        }
    }
    .button-link{
        font-size: 15px;
        
        margin-right: 10px;
        width: 40%;
        background-color: #FFC331;
        
        svg{
            font-size: 20px;
        }
        &:hover{
            background-color: #FFA500;;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.575);
            
            cursor: pointer;
            
        }
        &:active {
            background-color: #ffedcd; // Change the color as needed
        }}
}
