
.navbar-section {
    background-color: white;
    width: 100%;
    
    // border-bottom: solid 1px black;
    box-shadow: 0px 0px 15px 1px rgb(63, 63, 63);


        .logo{
            display:flex;
            // background-color: red;
            align-items: center;
            
            
            @keyframes spin {
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(360deg);
                }
              }
              
              img {
                margin: 0px;
                width: auto;
                height: 8em;
                animation-delay: 1.7s;
                border-radius: 60px;
                transition: all 0.3s ease-in-out;
              
                &:hover {
                  box-shadow: 0px 0px 15px #000000;
                  transform: scale(1.08);
                  animation: spin 1s infinite linear;
                }
                
              }
        }

        
      

        .nav-section{

            a{
                            font-size: 30px;
                            color: #19647E;
                            margin: 20px;
                            text-decoration: none;
                            
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            position: relative;

                            
                            i{
                                transition: all 0.3s ease-out;
                            }
                            
                            @media (min-width: 600px) {
                            &:hover {
                                color: #FFC331;
                                
                                svg {
                                    opacity: 0;
                                }
                                
                                &:after{
                                    opacity: 1;
                                }
                            }
                        }
                
                            
                                
                            
                            &:after{
                                content: '';
                                font-size: 16px ;
                                letter-spacing: 2px;
                                position: absolute;
                                opacity: 0;
                                display: block;
                                top: 10px;
                                right: 8px;
                                width: 100%;
                                text-align: center;
                                transition: all 0.3s ease-out ;
                                
                            }
                            
                            &:first-child{
                                &::after{
                                    content: 'Home';
                                }
                            }
                        }
                        a.about-link{
                            &:after{
                                content: 'About';
                            }
                        }
                        a.contact-link{
                            &:after{
                                content: 'Contact';
                            }
                        }
                        
                        a.projects-link{
                            &:after{
                                content: 'Projects';
                            }
                        }
                        
                        a.active{
                            svg{
                                color: #FFC331;
                            }
                        }
                    }
                    
        li{
                        a{
                            padding: 7px;
                            display: block;
                            font-size: 20px;
                            width: auto;
                            line-height: 16px;
                            transition: all 1s ease-in ;
                            
            
                            &:hover svg{
                                color:#FFC331;
                                transform: scale(1.9);
                                
                            }
                        }
                    }

    .small-links{
        font-size: 30px;
        margin-left: 20px;
    }
    
}