.footer {
  color: blue;
  width: 100%; /* Take up the full width of the parent container */
  box-sizing: border-box; /* Include padding and border in the width */
  height: 100px; /* Adjust this value as needed */
  padding: 1em;
  margin-top: 4em; /* Adjust this value as needed */
  display: flex;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);

  .pokeball { 
    width: 80px; /* Adjust this value as needed */
    height: auto; /* Keep the aspect ratio of the image */
  }
}