html{
  font-size: 62.5%;

}


body {
  margin: 0;
  font: 300 11px/1.4 'Outfit Variable', 'sans-serif';
  color: #fdfffc;

  background-color: #19647E;
  /* Visible for scrolling */
  overflow: visible;
  /* display: block; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
